<div class="user-details">
    <h1> About Me </h1>
    <p> {{site.user_description}} </p>
    <p> 谁家丢了神经兮兮爱犯2的儿童一枚，请赶紧来认领！>_< </p>
</div>
<div class="user">
    <div class="tech">
        <h3>Birthday</h3>

        <i class="fa fa-birthday-cake" style="color:#165eb9"></i>
        <p>09.01（欢迎你准时送生日祝福哦亲）</p>
    </div>
    <div class="tech">
        <h3>Likes</h3>
        <i class="fa fa-heartbeat" style="color:#da0668"></i>
        <p>游戏、读书、电影、音乐、犯2、微博控</p>
    </div>
    <div class="tech">
        <h3>Disgust</h3>
        <i class="fa fa-drupal" style="color:#965694"></i>
        <p>做自己认为没有意义完全形式主义的事情</p>
    </div>
</div>