<div class="user-details">
    <h1> About Me </h1>
    <p> 你好，陌生人！请脸带微笑，爱生活，爱自己。我在这里与你欢喜相守。</p>
    <p> {{site.user_description}} </p>

</div>
<div class="user">
    <div class="tech">
        <h3>生日</h3>
        <i class="fa fa-birthday-cake" style="color:#165eb9"></i>
        <p>09.01（欢迎你准时送生日祝福）</p>
    </div>
    <div class="tech">
        <h3>兴趣</h3>
        <i class="fa fa-heartbeat" style="color:#da0668"></i>
        <p>读书、电影、音乐、犯2、发呆、微博控</p>
    </div>
    <div class="tech">
        <h3>讨厌</h3>
        <i class="fa fa-drupal" style="color:#965694"></i>
        <p>做自己认为没有意义完全形式主义的事情</p>
    </div>
</div>