<div class="user-details">
    <h1> About Me </h1>
    <p>斯人若彩虹，遇上方知有。</p>
    <p>人生就像一场旅行，你我皆行人，有人擦肩，有人路过，有人重逢，有人失落。</p>
    <p>当我们遇到不愿意的事情时，去吹吹晚风，看看晚霞，耐心点感受一下这个世界。</p>
    <p>你看那些在意你的朋友、关心你的家人、雨天停车等你先走的过客，都是生命赠予你的礼物呀。</p>
    <p>所以呀，陌生人！耐心点，这世上总有人在悄悄关注你、爱着你。请脸带微笑，爱生活，爱自己。</p>
    <p>我在这里与你欢喜相守 ❤ 个人主义极强的犯2儿童一名！</p>
</div>
<div class="user">
    <div class="tech">
        <h2>BIRTH</h2>
<!--        style="color:#00a818"-->
        <i class="devicon-github-original colored"></i>
        <i class="devicon-gitlab-plain colored"></i>
        <i class="devicon-yii-plain" style="color:#4b3e95"></i>
        <p>09.01（欢迎你准时送生日祝福）</p>
    </div>
    <div class="tech">
        <h2>HOBBY</h2>
        <i class="devicon-java-plain" style="color:#d91ab9"></i>
        <i class="devicon-vuejs-plain colored"></i>
        <i class="devicon-linux-plain colored"></i>
        <p>王者、吃鸡、读书、电影、音乐、微博控</p>
    </div>
    <div class="tech">
        <h2>HATE</h2>
        <i class="devicon-apple-original" style="color:#632572"></i>
        <i class="devicon-android-plain colored"></i>
        <i class="devicon-windows8-original colored"></i>
        <p>做自己认为没有意义完全形式主义的事情</p>
    </div>
</div>
