<div id="particles-js">
    <div class="header">
        <h1>
            <span class="site-title">{{site.username}}</span>
            <span class="site-description">{{site.user_title}}</span>
        </h1>
        <div class="header-icons">
            <a aria-label="Send email" href="mailto:443890800@qq.com"><i class="icon fa fa-envelope"></i></a>
            <a aria-label="My NetEase Cloud" target="_blank" href="https://music.163.com/#/user/home?id=288716500"><i
                    class="icon fa fa-music" aria-hidden="true"></i></a>
            <a aria-label="My Weibo" target="_blank" href="https://weibo.com/killahs"><i class="icon fa fa-weibo"
                                                                                         aria-hidden="true"></i></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/killahs"><i class="icon fa fa-github-alt"
                                                                                           aria-hidden="true"></i></a>
        </div>
        <div class="header-links">
            <a class="link" href="#about" data-scroll>About Me</a>
            <a class="link" href="#projects" data-scroll>Projects</a>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
