<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Killah-Boot </h3>
    <ul>
      <li>SpringBoot、MySQL、Redis、Vue...</li>
    </ul>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Killah-Boot 基于Spring Boot 2.x 个人开发的一套标准化后台服务，其中包括单应用版本、多模块版本。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项目主要是为了以后快速开发，不需要重复搭建，提供各技术试用案例。各框架依赖版本皆使用目前最新版本，代码拥有详细注释，无复杂逻辑。</p>
    <a class="project-link" href="https://github.com/killahs/killah-boot">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Killah-Cloud-Plus-Full </h3>
    <ul>
      <li>SpringCloud Alibaba、SpringBoot...</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
