<div class="user-details">
  <h1> My Interests </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mood Title </h3>
    <ul>
      <li> Sunshine Mood</li>
    </ul>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人生舞台的大幕随时都可能拉开，关键是你愿意表演，还是选择躲避。慢慢懂得过去再优美，我们不能住进去；现在再艰险，我们也要走过去！理想的路总是为有信心的人预备着。</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />

  </div>
  <div class="contents-right">
    <h3> Mood Title </h3>
    <ul>
      <li> Rainy Mood</li>
    </ul>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The fate of the arrangement, has let us very happy, after happiness, but it is eternal darkness.</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
